<div id="wrapper">
    <!-- navbar-side -->
    <nav class="navbar-default navbar-static-side" role="navigation">{{navbar-side}}</nav>
    <div id="page-wrapper" class="gray-bg">
        
        <!-- navbar-top -->
        <div class="row border-bottom">{{navbar-top}}</div>
        
        <!-- page heading -->
        <div class="row wrapper border-bottom white-bg page-heading"></div>
        
        <!-- main content -->
        <div class="wrapper wrapper-content">{{outlet}}</div>
        
        <!-- app footer -->
        <div class="footer"></div>
    </div>
</div>
